body {
    /**background-image: url("wallpaper.png");**/
    background-repeat: repeat-y;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    overflow-x: hidden;
}

.menuicon {
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #5f5f5f;
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
    width: 60px;
    height: 50px;
    padding: 12px 0 0 0;
    box-sizing: border-box;
}

.menuicon:hover {
    background-image: linear-gradient(#e63d44,#c11a22);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
}

.menuicon .line {
    background: rgb(184,184,184);
    border-radius: 2px;
    box-shadow: 0 5px 0 0 rgb(184, 184, 184), 0 -5px 0 0 rgb(184, 184, 184);
    display: block;
    margin: 10px auto 0 auto;
    height: 3px;
    width: 30px;
    content: " ";
    overflow: visible;
}

.menuicon:hover .line {
    background: rgb(255,255,255);
    box-shadow: 0 5px 0 0 rgb(255,255,255), 0 -5px 0 0 rgb(255,255,255);
}


.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width:1275px) {
    .searchbox{
        width:330px !important;
    }
}
@media screen and (min-width:1275px) {
    .searchbox{
        width: 430px !important;
    }
}
@media screen and (max-width:1160px) {
    .searchbox{
        width:500px !important;
        position: inherit;
    }
}