{% extends "personal/base.html" %}
{% block head_title %} About Mehvar {% endblock %}

{% block content %}
    <div class="container">
        <div id="main" class="panel panel-body">
            <!-- Header content -->
            <header>
                <div class="profileLogo">
                    <!-- Profile logo. Add a img tag in place of <span>. -->
                    <p class="logoPlaceholder"><img src="https://res.cloudinary.com/mehvar/image/upload/v1515996218/logo/logo2_xd3v5q.png" alt="sample logo" class=""> </p>
                </div>
                <div>
                    <!-- Profile photo -->
                    <img class="profilePhoto" src="https://res.cloudinary.com/mehvar/image/upload/v1516141478/logo/eagle.png" alt="sample"> </div>
                <!-- Identity details -->
                <section class="profileHeader">
                    <h1>MEHVAR COMPANY</h1>
                    <h3>REALLY AWESOME E-COMMERCE WEBSITE</h3>
                    <hr>
                    <p> Mehvar Company is a new company that will provide high quality clothes from popular brands and
                        other products to it's clients. Mehvar Company is scheduled to begin operations on
                        July 16, 2018. Mehvar Company will be a partnership, owned and operated by Firdavsi Fuk and
                        Sarafrozi Fuk. Mr. Fuk and Mr. Safik both have left their respective jobs in order to
                        specialize in good quality products consulting to small and medium sized businesses.
                        Mr Fuk's previous employment was with Gandalf and Associates acting as an successful fuk.
                        Mr. Safik's previous employment was in The Fuks Hotel acting as chief golden receptionist.
                        Mehvar Company will target excellent quality to medium quality products within the All part of
                        Turkey including Istanbul and surrounding areas. Mehvar Company will seek major contracts
                        with big sized firms.</p>
                </section>
            </header>
            <!-- content -->
        </div>
        <section class="mainContent">
            <!-- Contact details -->
            <div class="panel panel-body">
                <section class="section1">
                    <h2 class="sectionTitle">OUR CONTACT INFORMATION</h2>
                    <hr class="sectionTitleRule">
                    <hr class="sectionTitleRule2">
                    <div class="section1Content">
                        <p><span>Email :</span> mehvarcompany@gmail.com</p>
                        <p><span>Website :</span> mehvarcomp.com</p>
                        <p><span>Phone :</span> +(905)553 - 5353535</p>
                        <p><span>Address :</span> Anytown, Anycountry</p>
                    </div>
                </section>
            </div>
            <!-- Previous experience details -->
            <div class="panel panel-body">
                <section class="section2">
                    <h2 class="sectionTitle">OUR TEAM</h2>
                    <hr class="sectionTitleRule">
                    <hr class="sectionTitleRule2">
                    <div class="gallery">
                        <div class="thumbnail aboutthumb"> <a href="#"><img src="https://res.cloudinary.com/mehvar/image/upload/v1516141459/logo/crh6QamXT9UTz9okDHPYvYK_q1a46xSnUsbmwu3tE48.jpg" alt="" width="2000" class="cards"/></a>
                            <h4>FIRDAVSI FUK</h4>
                            <p class="tag">CEO</p>
                            <p class="text_column">Chief Executive Officer</p>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <a href="#"><img src="https://res.cloudinary.com/mehvar/image/upload/v1514207358/logo/facebook_hp9iu6.ico" alt=""  class="cards"/></a>
                                </div>
                            </div>
                        </div>
                        <div class="thumbnail aboutthumb"> <a href="#"><img src="http://res.cloudinary.com/mehvar/image/upload/c_fill,h_300,w_300/v1517184918/logo/safik.jpg" alt="" width="2000" class="cards"/></a>
                            <h4>SARAFROZI FUK</h4>
                            <p class="tag">COO</p>
                            <p class="text_column">Chief Operating Officer</p>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <a href="#"><img src="https://res.cloudinary.com/mehvar/image/upload/v1514207358/logo/facebook_hp9iu6.ico" alt=""  class="cards"/></a>
                                </div>
                            </div>
                        </div>
                        <div class="thumbnail aboutthumb"> <a href="#"><img src="https://res.cloudinary.com/mehvar/image/upload/v1516141461/logo/unnamed.png" alt="" width="2000" class="cards"/></a>
                            <h4>SUHROB KAMOLOV</h4>
                            <p class="tag">CTO</p>
                            <p class="text_column">Chief Technical Officer </p>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-2">
                                    <a href="#"><img src="https://res.cloudinary.com/mehvar/image/upload/v1514207358/logo/facebook_hp9iu6.ico" alt=""  class="cards"/></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#"><img src="https://res.cloudinary.com/mehvar/image/upload/v1514207358/logo/instagram_nrylpa.png" alt=""  class="cards"/></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#"><img src="" alt=""  class="cards"/></a>
                                </div>
                            </div>
                        </div>
                        <div class="thumbnail aboutthumb"> <a href="#"><img src="https://res.cloudinary.com/mehvar/image/upload/c_fill,h_300,w_300/v1516141463/logo/maxresdefault.jpg" alt="" width="2000" class="cards"/></a>
                            <h4>?????????</h4>
                            <p class="tag">CFO</p>
                            <p class="text_column">Chief Financial Officer</p>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <a href="#"><img src="https://res.cloudinary.com/mehvar/image/upload/v1514207358/logo/facebook_hp9iu6.ico" alt=""  class="cards"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Links to expore your past projects and download your CV -->
            <div class="panel panel-body">
                <aside class="externalResourcesNav">
                    <div class="externalResources"> <a href="#" title="Download CV Link">DOWNLOAD CV</a> </div>
                    <span class="stretch"></span>
                    <div class="externalResources"><a href="#" title="Behance Link">BEHANCE</a> </div>
                    <span class="stretch"></span>
                    <div class="externalResources"><a href="#" title="Github Link">GITHUB</a> </div>
                </aside>
            </div>
        </section>
        {% for c in content %}
            <p>{{c}}</p>
        {% endfor %}
    </div>
{% endblock %}