{# Footer #}
<footer class="footer" style="background-color: rgba(54, 133, 133, 0.36); margin-top: 5px">
    <div class="row">
        <div class="col-xs-2 col-sm-offset-3"><a href="https://www.facebook.com/ksuhob">
            <img class="img-circle" src="https://res.cloudinary.com/mehvar/image/upload/v1514207358/logo/facebook_hp9iu6.ico"> Facebook
        </a>
        </div>
        <div class="col-xs-2">
            <a href="#">
                <img class="img-circle" src="https://res.cloudinary.com/mehvar/image/upload/v1514207358/logo/viber_fq5tga.png" alt="Viber"> Viber
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#">
                <img class="img-circle" src="http://res.cloudinary.com/mehvar/image/upload/v1514207358/logo/instagram_nrylpa.png" alt="Instagram"> Instagram
            </a>
        </div>
    </div>
</footer>
{# Footer end #}